@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

.eventos-info{
    margin-bottom: 0px;
}
.eventos-titulo{
    font-size: 50px;
    font-weight: bold;
    margin: 0;
    color: var(--primary-color);
    font-family: 'Noto Sans', sans-serif;
    padding: 0px;
    text-align: center;
    text-transform: uppercase;
}
.eventos-subtitulos{
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    color: var(--primary-color);
    font-family: 'Noto Sans', sans-serif;
    text-align: center;

}
.eventos-parrafo{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
    max-width: 450px;
    margin: 0 auto;
    margin: 20px auto;
    text-align: center;
    text-transform: uppercase;

}
.eventos-img{
    width: 300px;
    height: 400px;
    margin: 0 auto;
    display: block;
}
.simulacro2-img{
    width: 341px;
    height: 256px;
    margin: 0 auto;
    display: block;
}
.ceremonias-img{
    width: 304px;
    height: 400px;
    margin: 0 auto;
    display: block;
}
.diadelniño-img{
    width: 200px;
    height: 150px;
    margin: 0 auto;
    display: block;
}
.rifa-video{
    width: 373px;
    height: 210px;
    margin: 0 auto;
    display: block;
}
.foto-img{
    width: 342px;
    height: 256px;
    margin: 0 auto;
    display: block;
}
.normal-img{
    width: 266px;
    height: 134px;
    margin: 0 auto;
    display: block;
}
/*ES PARA DISPLAY DE PC*/
@media(min-width: 950px){
    .eventos-info{
        margin-bottom: 0px;
    }
    .eventos-titulo{
        font-size: 50px;
        font-weight: bold;
        margin: 0;
        color: var(--primary-color);
        font-family: 'Noto Sans', sans-serif;
        padding: 50px;
        text-transform: uppercase;
    }
    .eventos-parrafo{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
    max-width: 950px;
    margin: 0 auto;
    margin: 20px auto;
    text-align: center;
    text-transform: uppercase;
    }
    .eventos-subtitulos{
        font-size: 25px;
        font-weight: bold;
        margin: 0;
        color: var(--primary-color);
        font-family: 'Noto Sans', sans-serif;
        text-align: center;
}
.eventos-img{
    width: 600px;
    height: 800px;
    margin: 0 auto;
    display: block;
}
.video-eventos{
margin: auto 200px;

}
.simulacro2-img{
    width: 1024px;
    height: 768px;
    margin: 0 auto;
    display: block;
}
.ceremonias-img{
    width: 609px;
    height: 800px;
    margin: 0 auto;
    display: block;
}
.diadelniño-img{
    width: 800px;
    height: 600px;
    margin: 0 auto;
    display: block;
}
.rifa-video{
    width: 560px;
    height: 315px;
    margin: 0 auto;
    display: block;
}
.foto-img{
    width: 685px;
    height: 512px;
    margin: 0 auto;
    display: block;
}
.normal-img{
    width: 800px;
    height: 404px;
    margin: 0 auto;
    display: block;
}
}